<mat-toolbar>
  <mat-form-field class="menu-form">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <button mat-raised-button color="primary" class="menu-button" 
  (click)="onClickNew()">Create New</button>
</mat-toolbar>

<table mat-table [dataSource]="sortedData ? sortedData : dataSource" matSort (matSortChange)="sortData($event)" matSortActive="alias" matSortDirection="asc" class="mat-elevation-z8">

  <!-- <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef > id </mat-header-cell>
    <mat-cell *matCellDef="let client"> {{client.id}} </mat-cell>
  </ng-container> -->

  

  <ng-container matColumnDef="alias">
    <mat-header-cell *matHeaderCellDef> Alias </mat-header-cell>
    <mat-cell *matCellDef="let client"> {{client.Alias}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="companyName">
      <mat-header-cell *matHeaderCellDef> Company Name </mat-header-cell>
      <mat-cell *matCellDef="let client"> {{client.CompanyName}} </mat-cell>
    </ng-container>

  <ng-container matColumnDef="appleCertificate">
    <mat-header-cell *matHeaderCellDef> Apple Certificate </mat-header-cell>
    <mat-cell *matCellDef="let client"> {{client.AppleCertificate}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="activationName">
    <mat-header-cell *matHeaderCellDef> Activation Name </mat-header-cell>
    <mat-cell *matCellDef="let client"> {{client.ActivationName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="activationCode">
    <mat-header-cell *matHeaderCellDef> Activation Code </mat-header-cell>
    <mat-cell *matCellDef="let client"> {{client.ActivationCode}} </mat-cell>
  </ng-container>

  <!-- <ng-container matColumnDef="encryptedName">
    <mat-header-cell *matHeaderCellDef> Encrypted Name </mat-header-cell>
    <mat-cell *matCellDef="let client"> {{client.EncryptedName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="encryptedCode">
    <mat-header-cell *matHeaderCellDef> Encrypted Code </mat-header-cell>
    <mat-cell *matCellDef="let client"> {{client.EncryptedCode}} </mat-cell>
  </ng-container> -->

  <ng-container matColumnDef="profileFolder">
    <mat-header-cell *matHeaderCellDef> Profile Folder </mat-header-cell>
    <mat-cell *matCellDef="let client"> {{client.ProfileFolder}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="active">
    <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
    <mat-cell *matCellDef="let client"> {{client.Active}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"
    (click)="onRowClicked(row)">
  </mat-row>
</table>
